#apps{
    background-color: aquamarine;
}
#carouselExampleControls{
    background-color: rgb(104, 86, 86);
}
#chatbot{
    background-color: blue;
}
body{
    text-align: center;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 40px;
}
.carousel-inner p{
    font-size: 20px;
    color: aliceblue;
}